<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Profile Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 7</td><td width='50'> 31 </td><td width='100'> p1 </td><td width='200'> 1-Blue_Fairy.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/1-Blue_Fairy.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 8</td><td width='50'> 33 </td><td width='100'> p </td><td width='200'> propic1.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/propic1.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 9</td><td width='50'> 34 </td><td width='100'> p4 </td><td width='200'> propic2.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/propic2.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 10</td><td width='50'> 35 </td><td width='100'> p5 </td><td width='200'> propic5.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/propic5.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 11</td><td width='50'> 36 </td><td width='100'> p7 </td><td width='200'> propic3.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/propic3.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 12</td><td width='50'> 37 </td><td width='100'> p8 </td><td width='200'> propic4.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/propic4.jpg' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

